.presentation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem 2rem;

  justify-content: center;
  align-items: center;
  text-align: center;

  border: solid #fff 1px;
  border-right: 0;
  border-left: 0;

  margin-bottom: 1rem;
}

.presentation h1 {
  font-weight: bolder;
  font-size: 28pt;
  font-family: monospace;
}

.about {
  font-size: medium;
  padding: 2rem;

  background-color: #444;
  border: solid #fff 1px;
  border-right: 0;
  border-left: 0;

  margin-bottom: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.projects {
  padding: 1rem;

  background-color: #444;
  border: solid #fff 1px;
  border-right: 0;
  border-left: 0;

  margin-bottom: 1rem;
}

.projectsItens {
  padding: 1rem 0;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
