.presentation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem 2rem;

  justify-content: center;
  align-items: center;
  text-align: center;

  border: solid #fff 1px;
  border-right: 0;
  border-left: 0;

  margin-bottom: 1rem;
  font-family: monospace;
}

.presentation h1 {
  font-weight: bolder;
  font-size: 28pt;
}

.about {
  font-size: medium;
  padding: 2rem;

  background-color: #444;
  border: solid #fff 1px;
  border-right: 0;
  border-left: 0;

  margin-bottom: 1rem;
  font-family: sans-serif;
}

.projects {
  padding: 1rem;

  background-color: #444;
  border: solid #fff 1px;
  border-right: 0;
  border-left: 0;

  margin-bottom: 1rem;
}

.projectsItens {
  padding: 1rem 0;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 500px) {
  .presentation {
    height: 500px;
    font-size: 28pt;
  }

  .presentation h1 {
    font-size: 50pt;
  }

  .about {
    font-size: larger;
    padding: 5rem;
  }

  .about h4 {
    font-size: x-large;
    font-family: monospace;
  }

  .projects {
    padding: 5rem;
    font-size: large;
  }

  .projects h4 {
    font-size: x-large;
    font-family: monospace;
    margin-bottom: 1rem;
  }
}
