.card {
  height: 200px;
  padding: 1rem;

  color: #fff;
  background-color: #00040d;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h5 {
  font-size: larger;
  margin: 5px 0;
}

.description {
  margin: 5px;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.description img {
  height: 90px;
  width: 90px;
  margin: 5px;
  border-radius: 8px;
}

.links {
  display: flex;
  gap: 1rem;
}

@media (min-width: 800px) {
  .card {
    height: 20%;
    width: 40%;
  }
}
