.contact {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  background-color: #444;
  border-top: solid #fff 1px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  font-size: 12pt;
}

.contact form label {
  display: none;
}

.contact form input {
  padding: 5px 1rem;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.contact form textarea {
  padding: 1rem;
  height: 150px;
  border: none;
  border-radius: 8px;
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;

  padding: 2rem;
}

@media (min-width: 500px) {
  .contact {
    padding: 3rem;
  }
  .contact h4 {
    font-size: x-large;
    font-family: monospace;
    margin-bottom: 1rem;
  }

  .contact form {
    padding: 5% 20%;
  }
}
