* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;

  background-color: #00040d;
  color: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

footer {
  bottom: 0;
  position: relative;
  min-width: 100%;
}
