* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  background-color: #00040d;
  color: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}